<?xml version='1.0' encoding='utf-8'?>
<odoo>
        <menuitem id="payment_requisition_root"
                name="Payment requisition"
                sequence="5"
                />

        <menuitem id="payment_requisition_menu"
                name="Cash Advance"
                parent="payment_requisition_root"
                sequence="1"
                />

        <menuitem id="payment_requisition_pengajuan"
                name="Pengajuan"
                parent="payment_requisition_menu"
                action="payment_requisition_action"
                sequence="1"
                />
</odoo>