<?xml version='1.0' encoding='utf-8'?>
<odoo>
        <!-- <data noupdate="1"> -->
        <data>
            <menuitem id="menu_freight_root" name="Freight Management" sequence="4" />
            <menuitem id="menu_freight_order" name="Shipping" parent="menu_freight_root" sequence="2" action="action_freight_order"/>
            <menuitem id="menu_configuration" name="Configuration" parent="menu_freight_root" sequence="4" action="action_service_freight" />
            <menuitem id="menu_freight_service" name="Services" parent="menu_configuration" sequence="2" action="action_service_freight"/>
            <menuitem id="menu_freight_order_type" name="Freight Type" parent="menu_configuration" sequence="2" action="action_freight_order_type"/>
            <menuitem id="menu_freight_port" name="Ports" parent="menu_configuration" sequence="2" action="action_freight_port"/>
            <menuitem id="menu_freight_load" name="Load" parent="menu_configuration" sequence="2" action="action_freight_load"/>
<!-- 
            <menuitem id="menu_freight_container" name="Container" parent="menu_configuration" sequence="2" action="action_container_port"/>
            <menuitem id="menu_freight_price" name="Pricing List" parent="menu_configuration" sequence="2" action="action_freight_price"/>
            <menuitem id="menu_freight_routes" name="Route Operations" parent="menu_configuration" sequence="2" action="action_freight_routes"/>
            <menuitem id="menu_freight_order_document" name="Freight Order Document" parent="menu_configuration" sequence="2" action="action_freight_order_document"/>
            <menuitem id="menu_freight_order" name="Cofiguration" parent="menu_freight_root" sequence="2" action="action_freight_order"/> 
             -->
        </data>
</odoo>